In [1]:
import pickle
import pandas as pd
import numpy as np

with open('slice_data.pickle', 'rb') as handle:
    raw_data = pickle.load(handle)


data = raw_data['ACC_FS']


n_column = data.iloc[0,:].size


starting_index = np.arange (1,n_column+1, 15)

cell_list = []

#separate the cells from one sheet

for i in starting_index:
    cell_data = data.iloc[:,i:i+13]
    cell_list.append(cell_data)


clamp_levels = data.iloc[0,1:14]

clamp_levels_string = pd.Series(clamp_levels, dtype="string")

col_list = list(clamp_levels_string)

In [2]:
col_list

['-200.0',
 '-150.0',
 '-100.0',
 '-50.0',
 '0.0',
 '50.0',
 '100.0',
 '150.0',
 '200.0',
 '250.0',
 '300.0',
 '350.0',
 '400.0']

In [3]:
cell_list[0]

,20190219 Slice 1 Cell 0,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,-200.0000,-150.0000,-100.0000,-50.0000,0.0000,50.0000,100.0000,150.0000,200.0000,250.0000,300.0000,350.0000,400.0000
1,-75.2563,-74.8901,-75.4089,-74.9817,-75.4395,-75.3174,-75.1953,-75.8057,-76.4465,-78.3386,-79.9561,-80.8716,-82.0312
2,-75.2869,-74.8291,-75.5310,-74.9512,-75.3784,-75.3784,-75.1038,-75.8362,-76.3855,-78.3691,-80.0171,-80.8105,-81.9702
3,-75.2869,-74.8596,-75.4395,-74.9512,-75.4395,-75.2869,-75.1953,-75.7751,-76.3855,-78.3081,-79.9255,-80.9021,-82.0618
4,-75.2563,-74.8291,-75.4700,-75.0122,-75.4395,-75.3479,-75.1343,-75.8057,-76.5076,-78.3691,-79.9561,-80.7800,-81.9702
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10996,-74.8596,-75.4395,-74.9207,-75.3784,-75.3784,-75.1038,-75.7141,-76.3855,-78.3997,-79.9866,-80.7800,-82.0007,-82.4585
10997,-74.8596,-75.4395,-74.9512,-75.3479,-75.3479,-75.1953,-75.8362,-76.3550,-78.3386,-79.9866,-80.8105,-81.9702,-82.3975
10998,-74.8291,-75.4700,-74.8901,-75.3479,-75.3174,-75.1038,-75.7751,-76.3855,-78.3997,-80.0171,-80.7495,-81.9702,-82.4585
10999,-74.8596,-75.4089,-74.9512,-75.4089,-75.3174,-75.1648,-75.8362,-76.4160,-78.3386,-79.9255,-80.8411,-82.0007,-82.3669
11000,-74.9207,-75.5005,-74.9817,-75.3174,-75.3479,-75.0732,-75.7446,-76.4160,-78.3691,-79.9561,-80.6885,-81.9702,-82.3975

In [6]:
num_neuron = len(cell_list)
cell_id_list = []
for i in range(num_neuron):
    col_list = list(cell_list[i].columns)
    cell_id = col_list[0]
    cell_id_list.append(cell_id)

In [7]:
cell_id_list

['20190219 Slice 1 Cell 0',
 '20180620 Slice 1 Cell 0',
 '20180620 Slice 1 Cell 1',
 '20180720 Slice 2_Cell 2']

In [8]:
sheet_time = data.iloc[1:,0]

In [9]:
acc_fs = {}

acc_fs['time'] = sheet_time

In [10]:
acc_fs['data'] = cell_list

In [11]:
acc_fs['cell_id'] =  cell_id_list

In [13]:
acc_fs.keys()

dict_keys(['time', 'data', 'cell_id'])

In [15]:
raw_data.keys()

dict_keys(['ACC_FS', 'PPC_FS', 'ACC_RS', 'PPC_RS'])

str